.shadow {
  box-shadow: 1px 1px 5px gray;
  border:1px solid black;
  margin-bottom:20px;
}

.media {
  height: 150px;
  margin:0;
}

.media-body {
  height:150px;
  position: relative;
  
}

.button {
  position: absolute;
  bottom:0;
  right:0;
  margin-bottom:5px;
  margin-right: 10px;;
}

.title {
  margin:0;
}

h3 {
  color:skyblue;
}

.button {
  display:inline-block;
  width:150px;
  margin:20px;
}

.footer {
  background-color: gainsboro;
  height: 100px;
  max-width: 100%;
  display: flex;
}

.footer-right {
  display: flex;
  flex-direction: column;
  width:150px;
}

.text {
  display: inline-block;
  text-align:center;
  padding-top:15px;
}

.text p {
  margin: 0;
}

.text p a {
  color:blue;
}

.footer-center {
  flex:2;
}

.footer-left {
  flex:1;
  text-align: center;
  align-self: center;
}

.button1 {
  display: inline-block;
  background-color: orange;
  color:white;
  border-radius: 10px;
  border:none;
  outline: none;
}